body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-header {
    padding: 3rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
    width: 70%;
    margin: auto;
}

.big-heading.main {
    text-align: left;
}

.big-heading.sub {
    text-align: right;
}


/* Containers */

.container-fluid {
    padding: 3% 15%;
}



/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

ul.navbar-nav li.nav-item a.nav-link {
    padding-left: 1.5rem;
    padding-right: 0;
    font-size: 1.2rem;
    font-weight: 200;
}


/* Download Buttons */

.download-btns {
    margin-top: 2rem;
}


div.download-btns button {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Title Image */

.iphone-img {
    margin-left: 23%;
    position: relative;
    max-width: 327px;
    min-width: 282px;
}

.title-img-row {
    margin-top: 2rem;
}


/* Features Section */

#features {
    position: relative;
}

.features {
    padding: 3% 5%;
    margin: 4rem 0;
}

.feature-title {
    font-weight: 900;
    font-size: 1.5rem;
}

.features p {
    color: #8f8f8f;
}

p.features-icon {
    color: #ef8172;
}

.features-icon:hover {
    color: #ff4c68;
}


/* Testimonials */

.testimonials-container {
    background-color: #ef8172;
    padding: 3% 5%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}



/* Press Section */

.press-container {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 2rem;
}



/* Sign Up Section */

.email-form {
    width: 30%;
    margin: auto;
}

.email-button {
    margin: auto;
    width: 30%;
    background-color: #ff4c68;
    border-color: #ff4c68;
    margin-bottom: 3rem;
}

.email-button:hover {
    background-color: #fa1538;
    border-color: #fa1538;
}

/* Call to Action */

#cta {
    padding: 5%;
}

.cta-btns {
    margin-top: 5rem;
}



/* Footer */

#footer {
    color: #8f8f8f;
}

.footer-icons {
    margin: 4rem 1rem 10px;
}

.twitter:hover {
    color: #38A1F3;
}

.facebook:hover {
    color: #4267b2;
}

.instagram:hover {
    color: #FCAF45;
}

.envelope:hover {
    color: #ff4c68;
}


/* Media Queries */

@media (max-width: 990px) {
    .iphone-img {
        max-width: 80%;
        padding-left: 0;
        margin: auto;
    }

    h1.sub-h1 {
        margin: auto;
    }
}